<!-- Guide -->
<li{% if activeMenu != "guide" %} class="inactive"{% endif %}>
    <a href="{{ page.base }}guide/">Guide</a>
    {% if navLevel0 == "guide" %}
    <ul>
        <!-- Guide / Builder -->
        <li{% if navLevel1 == "builder" %} class="active"{% endif %}>
            <a href="{{ page.base }}guide/builder/">Builder</a>
            {% if navLevel1 == "builder" %}
            <ul>
                {% assign navigation_sections = site.collections | where: "label", "guide_builder" | first %}
                {% include navigation-sections.html %}
            </ul>
            {% endif %}
        </li>

        <!-- Guide / Runner -->
        <li{% if navLevel1 == "runner" %} class="active"{% endif %}>
            <a href="{{ page.base }}guide/runner/">Runner</a>
            {% if navLevel1 == "runner" %}
            <ul>
                {% assign navigation_sections = site.collections | where: "label", "guide_runner" | first %}
                {% include navigation-sections.html %}
            </ul>
            {% endif %}
        </li>

        <!-- Guide / Blocks -->
        <li{% if navLevel1 == "blocks" %} class="active"{% endif %}>
            <a href="{{ page.base }}guide/blocks/">Blocks</a>
            {% if navLevel1 == "blocks" %}
            <ul>
                {% assign navigation_sections = site.collections | where: "label", "guide_blocks" | first %}
                {% include navigation-sections.html %}
            </ul>
            {% endif %}
        </li>
    </ul>
    {% endif %}
</li>
