<!-- Constructor -->
{% assign constructor = sections | where: "endpoint", "constructor" | first %}
{% if constructor %}
    {{ constructor.content | replace: "<dl>", "<h4>Arguments</h4><dl>" }}
{% endif %}

<!-- Properties -->
{% assign properties = sections | where: "endpoint", "property" | sort: title %}
{% if properties.size > 0 %}
<h4>Properties ({{ properties.size }})</h4>
<table>
{% for property in properties %}
    <tr>
        <td>
                <a href="#{{ property.bookmark }}">{{ property.title }}</a>
        </td>
        <td>
                {{ property.description }}
        </td>
    </tr>
{% endfor %}
</table>
{% endif %}

<!-- Methods -->
{% assign methods = sections | where: "endpoint", "method" | sort: title %}
{% if methods.size > 0 %}
<h4>Methods ({{ methods.size }})</h4>
<table>
{% for method in methods %}
    <tr>
        <td>
                <a href="#{{ method.bookmark }}">{{ method.title }}</a>
        </td>
        <td>
                {{ method.description }}
        </td>
    </tr>
{% endfor %}
</table>
{% endif %}

<!-- Functions -->
{% assign functions = sections | where: "endpoint", "function" | sort: title %}
{% if functions.size > 0 %}
<table>
{% for function in functions %}
    <tr>
        <td>
                <a href="#{{ function.bookmark }}">{{ function.title }}</a>
        </td>
        <td>
                {{ function.description }}
        </td>
    </tr>
{% endfor %}
</table>
{% endif %}
