.endpoint {
    &.class {
        background-color: #e74c3c;
        &:after {
            content: "CLASS";

            li > a & {
                content: "C";
            }
        }
    }

    &.constant {
        background-color: #34495e;
        &:after {
            content: "CONSTANT";

            li > a & {
                content: "C";
            }
        }
    }

    &.constructor {
        background-color: #16a085;
        &:after {
            content: "CONSTRUCTOR";

            li > a & {
                content: "C";
            }
        }
    }

    &.delete {
        background-color: #c0392b;
        &:after {
            content: "DELETE";

            li > a & {
                content: "D";
            }
        }
    }

    &.function {
        background-color: #3498db;
        &:after {
            content: "FUNCTION";

            li > a & {
                content: "F";
            }
        }
    }

    &.get {
        background-color: #27ae60;
        &:after {
            content: "GET";

            li > a & {
                content: "G";
            }
        }
    }

    &.interface {
        background-color: #2c3e50;
        &:after {
            content: "INTERFACE";

            li > a & {
                content: "I";
            }
        }
    }

    &.method {
        background-color: #42a5f5;
        &:after {
            content: "METHOD";

            li > a & {
                content: "M";
            }
        }
    }

    &.module {
        background-color: #7e57c2;
        &:after {
            content: "MODULE";

            li > a & {
                content: "M";
            }
        }
    }

    &.post {
        background-color: #f1c40f;
        &:after {
            content: "POST";

            li > a & {
                content: "P";
            }
        }
    }

    &.property {
        background-color: #95a5a6;
        &:after {
            content: "PROPERTY";

            li > a & {
                content: "P";
            }
        }
    }

    &.put {
        background-color: #9b59b6;
        &:after {
            content: "PUT";

            li > a & {
                content: "P";
            }
        }
    }

    &.readonly {
        background-color: #7f8c8d;
        &:after {
            content: "READONLY";

            li > a & {
                content: "R";
            }
        }
    }
}
