p > img {
    max-width: 100%;
    margin: 4px auto -9px;
    display: block;

    &[src$=".gif"] {
        border: 1px solid #bdc3c7;
        border-radius: 3px;
        margin: 24px 0 24px;
        box-shadow: 0 0 5px 1px #bdc3c7;
    }
}
